@media only screen and (max-width: 480px) {
    .section.s1 {
        padding: 1rem!important;
    }
    h1 {
        font-size: 1.9rem!Important;
        text-align: center!important;
    }
    .social-icons {
        font-size: 2.5rem!important;
    }
    .social-icons.tg {
        font-size: 2.7rem!important;
    }
    .social-icons.wa {
        font-size: 2.7rem!important;
    }
    .row.header {
        display: flex!important;
        justify-content: center!important;
        width: 100vw!important;
    }
    h3 {
        text-align: center!important;

    }
    .card-body.small-body {
        padding: 2rem!important;
    }

    .btn-offer-default {
        font-size: 1.2rem!important;
    }
    .btn-offer-main {
        font-size: 1.2rem!important;
        background-color: white!important;
        color: black!important;
    }
    .scare {
        width: 10%!important;
    }
    .s6 {
        padding-left: 2rem!important;
        margin-top: 5rem!important;
    }
    h2 {
        font-size: 2rem!important;
        text-align: center!important;
        margin-top: 0!important;
    }
    h2.headings3 {
        font-size: 37px!important;
    }
    .text-col {
        align-items: center!important;
        font-size: 1rem!important;
    }
    p.small {
        font-size: 1.3rem!important;
        line-height: 25px!important;
        margin-top: 2rem!important;
        font-weight: 400!important;
        width: 80vw!important;
    }

    .mobile-row {
        justify-content: center!important;
    }
    .s6 {
        margin-top: 2rem!important;
    }
    .s3 {
        padding: 1rem!important;
    }
    .s4 {
        padding-left: 1rem!important;
        padding-right: 1rem!important;
        background-color: rgba(85, 172, 238, 0.10);
    }
    .s7 {
        padding: 1rem!important;
    }
    p {
        text-align: center!important;
    }
    .headings3 {
        margin-top: 1rem!important;
    }
    .alert {
        font-size: 1.1rem!important;
        padding-top: 2rem!important;
        padding-bottom: 2rem!important;
        padding-left: 0.5rem!important;
        padding-right: 0.5rem!important;
        margin-top: 2rem!important;
        text-align: center!important;
    }
    .card-body{
        padding-left: 0!important;
        padding-right:0!important;
        padding-top: 2rem!important;
        padding-bottom: 2rem!important;
    }
    .alert-mobile-off {
        display: none!important;
    }
    .badge-primary {
        font-size: 0.8rem!important;
    }
    .container.badges {
        display: none!important;
    }
    .cards-container {
        display: flex;
        flex-direction: column!important;
        align-items: center!important;
        margin-bottom: 2rem!important;
    }
    .comment {
        font-weight: 400!important;
        line-height: 20px!important;
        margin-top: 1rem;
        font-size: 1.3rem!important;
        text-align: left!important;
}
    .quote {
        font-size: 0.8rem!important;
        margin-top: 1rem!important;
        display: none;
    }
    .name {
        font-size: 1.6rem!important;
    }
    .col-avatar{
        display: none!important;
    }
    .bills {
        display: flex!important;
        justify-content: center!important;
    }
    .s9 {
        padding-top: 4rem!important;
        padding-bottom: 2rem!important;
        padding-left: 0.5rem!important;
        padding-right: 0.5rem!important;
    }
    .mobile-h1 {}
    h2.mobile-heading {
        font-size: 1.2rem!important;

    }
    .s10 {
        padding: 2rem!important;
    }
    .logo {
        padding: 0!important;
        max-width: 40px!important;
        max-height: 40px!important;
    }
    h4 {
        width: 65vw!important;
    }
    #mobile-br {
        display: block!important;
    }
    table.reasons {
        display: none;
    }
    .section.s1 {
        padding-bottom: 5rem!important;
    }
    .mobile-reasons {
        display: block!important;
    }
    .help {
        width: 300%!important;
    }
}
.mobile-reasons {
    display: none;
}
#mobile-br {
    display: none;
}
html, body {
    font-family: 'Rubik', sans-serif!important;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #01B0F2 #DFE9EB;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    width: 6px;
    width: 6px;
    height: 6px;
}
*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #DFE9EB;
}

*::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #01B0F2;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #0056A3;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #0097E5;
}

h1 {
    font-weight: 700!important;
    font-size: 3.4375rem;
    color: #313131;
}
h2 {
    font-size: 2.8125rem!important;
    font-weight: 600!important;
    color: #313131;
}
h3.card-title {
    font-size: 2.1rem;
}
h3 {
    font-size: 1.75rem;
    font-weight: 600!important;
    color: #313131;
}
h1.hblack {
    color: #313131;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 5rem;
}
h4 {
    margin: 0!important;
}
p {
    font-size: 1.5625rem!important;
    font-weight: 400!important;
    color: white;
    color: #313131;
    margin-bottom: 0!important;
}
.btn-offer {
    font-size: 1.5rem!important;
}
.row {
    display: flex;
    flex-direction: row;
}
.col {
    display: flex;
    flex-direction: column;
}
.s1 {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1271%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='url(%23SvgjsLinearGradient1272)'%3e%3c/rect%3e%3cpath d='M 0%2c400 C 96%2c370 288%2c261 480%2c250 C 672%2c239 768%2c392 960%2c345 C 1152%2c298 1248%2c9.4 1440%2c15 C 1632%2c20.6 1824%2c301.4 1920%2c373L1920 1080L0 1080z' fill='rgba(239%2c 247%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c583 C 192%2c646.6 576%2c856 960%2c901 C 1344%2c946 1728%2c826.6 1920%2c808L1920 1080L0 1080z' fill='rgba(225%2c 240%2c 255%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1271'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='10.94%25' y1='-19.44%25' x2='89.06%25' y2='119.44%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1272'%3e%3cstop stop-color='rgba(229%2c 242%2c 255%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");padding: 5rem;
    width: 100%;
}
.s2 {
    width: 100%;
    overflow: hidden;
    padding: 2rem;
}
.main {
    width: 100%;
    min-width: 45vw;
    animation: float 6s ease-in-out infinite;
}


.message {
    background-color: rgba(30, 144, 255, 0.63)!important;
    border-radius: 10px;
    width: 100%;
    font-size: 20px;
    padding: 1rem;
    color: white;
    font-weight: 500;
    text-align: center;
}
tr.line {
    display: flex;
    justify-content: center;
}
.text-col {
    display: flex;
    justify-content: center;
}
.text-col-big {
    display: flex!important;
    flex-direction: column!important;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-10px);
    }
    100% {
        transform: translatey(0px);
    }
}
.text-color {
    background-color: rgba(30, 144, 255, 0.63);
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1.5rem;
    padding-top: 0;
    color: white;
}
.logo {
    width: 100%;
    padding: 0!important;
}
.btn-offer-default {
    font-size: 1.5rem;
}
li {
    font-size: 1.7rem;
}
.btn-offer-main {
    font-size: 1.5rem;
    background-color: white!important;
    color: black!important;
}
.header {
    width: 100%!important;
    display: flex!important;
    flex-direction: row!important;
    flex-wrap: nowrap!important;
    align-content: center!important;
    align-items: center!important;
}
.price-main {
    font-size: 3rem;
    font-weight: 600;
}
.price-tag {
    font-size: 3rem;
}
.btn-offer {
    background-color: rgba(30, 144, 255, 0.63)!important;
    border-radius: 1rem!important;
    box-shadow: 0 4px 9px -4px rgba(0, 108, 255, 0.5)!important;
}
.btn-group {
    width: 100%;
}
.separator {
    position: absolute;
    top: 0;
}
table {
    caption-side: bottom;
    border-collapse: collapse;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(30, 144, 255, 0.1);
    padding: 2rem;
    border-radius: 2rem;
}
.reasons {
    margin-top: 3rem;
}
.scare {
    padding: 1rem;
}
.icon {
    color: #e4e4e4;
    margin-right: 1rem;
}
.small {
    font-size: 1.4rem!important;
    font-weight: 500!important;
    color: #313131;
}
.container-bg {
    background-color: rgba(30, 144, 255, 0.1);
    padding: 4rem;
    border-radius: 2rem;
    margin-top: 5rem;
    justify-content: center!important;
    display: flex;
}
.s3 {
    padding: 4rem;
}
.help {
    width: 100%;
}
.alert {
    font-size: 1.4rem!important;
    font-weight: 500!important;
    background-color: rgba(30, 144, 255, 0.13)!important;
}
.headings3 {
    text-align: center;
}
.img-col {
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
}
.badge {
    font-size: 1.2rem!important;
    margin: 0.5rem!important;
    background-color: rgba(30, 144, 255, 0.13)!important;
    margin-left: 0!important;
}
.dot {
    font-size: 0.9rem;!important;
}
.badges {
    padding: 0!important;
}
.s4 {
    padding: 4rem;
}
.cards-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 4rem;
    color: white!important;
    margin-bottom: 5rem;
}
.card-text.small-text {
    color: white!important;
    line-height: 25px;
    margin-top: 1rem;
}
.icon-help {
    font-size: 4rem;
}
.card-body.small-body {
    background-color: rgba(30, 144, 255, 0.73)!important;
    border-radius: 1rem;
}
.text-highlight {
    color: rgb(170 255 59);
    font-weight: 600;
}
.photo {
    width: 100%!important;
    max-width: 8vw;
    border-radius: 50%;
}
.col-avatar {

}
.col-name {
    display: flex;
    align-items: center;
    align-content: center;
}
.name {
    font-size: 2rem;
    font-weight: 600;
    width: 100%;
}
.comment {
    font-weight: 400!important;
    line-height: 30px!important;
    margin-top: 1rem;
}
.quote {
    font-size: 1rem!important;
    font-style: italic;
    margin-top: 1rem;
}
.card-body.offer {
    padding-left: 0;
    padding-right:0;
    justify-content: center;
}
.crew {
    margin-top: 4rem!important;
    margin-bottom: 4rem!important;
    width: 100%;
    padding-bottom: 2rem;
    cursor: grab;
    overflow: auto;
    flex-wrap: nowrap!important;
    gap: 2rem;
}
.crew-card {
    border-radius: 2rem!important;
}
.s6 {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1271%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='url(%23SvgjsLinearGradient1272)'%3e%3c/rect%3e%3cpath d='M 0%2c400 C 96%2c370 288%2c261 480%2c250 C 672%2c239 768%2c392 960%2c345 C 1152%2c298 1248%2c9.4 1440%2c15 C 1632%2c20.6 1824%2c301.4 1920%2c373L1920 1080L0 1080z' fill='rgba(239%2c 247%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c583 C 192%2c646.6 576%2c856 960%2c901 C 1344%2c946 1728%2c826.6 1920%2c808L1920 1080L0 1080z' fill='rgba(225%2c 240%2c 255%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1271'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='10.94%25' y1='-19.44%25' x2='89.06%25' y2='119.44%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1272'%3e%3cstop stop-color='rgba(229%2c 242%2c 255%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");padding: 5rem;
    width: 100%;
    padding-left: 4rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-right: 0!important;
    margin-top: 8rem!important;
}
.more-card {
    background-color: rgba(30, 144, 255, 0.73)!important;
    color: white;
}
.card-body.more {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.people-icon {
    font-size: 8rem;
    margin-bottom: 2rem;
}
.s7 {
    padding: 4rem;
}
.number {
    background-color: white;
    padding: 10rem;
    width: 2rem;
    height: 2rem;
}
.s8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.bills {
    gap: 3rem;
}
.disclaimer {
    font-size: 1rem;
}
.icon-price {
    font-size: 2rem!important;
    color: #55acee;
}
.icon-price-main {
    font-size: 2rem!important;
    color: #ffffff;
}
.card-special {
    background-color: #55acee!important;
    color: white;
}
.offer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.s9 {
    padding: 0;
}
.offer-icon {
    font-size: 4rem!important;
    text-align: left!important;
}
.container-bg.wide {
    padding-left: 0;
    padding-right: 0;

}
.s10 {
    padding: 4rem;
}
.footer {
    background-color: rgba(30, 144, 255, 0.73)!important;
    color: white;
}
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}
.modal-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 0!important;
}
.modal-title {
    text-align: center;
}
.modal-footer {
    justify-content: center!important;
}
.btn-primary {
    background-color: rgba(30, 144, 255, 0.63)!important;
}
.social-links {
    padding-top: 1rem;
}
.copyright {
    padding-bottom: 1rem;
}
.btn-group {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.policy {
    font-size: 0.9rem!important;
    color: darkgray;
    text-align: center;
}
.policy-link {
    text-decoration: underline;
}
.social-icons {
    color: white;
    font-size: 1.5rem;
    margin-right: 1rem;
}
.social-icons.tg {
    font-size: 1.7rem;
}
.social-icons.wa {
    font-size: 1.7rem;
    margin-right: 0;
}
.social-links:last-child {
    margin-right: 0;
}